.footer {
    align-items: center;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    height: 520px;
    bottom: 0; /* Stick it to the bottom */
    z-index: 1000; /* Make sure it stays on top */
    width: 100%; /* Full width to stretch across the screen */
    max-width: 1920px; /* Maximum width the footer can have */
    margin: 0 auto; /* Center horizontally */
    color: white; /* Text color */
}


.footer .footer-container {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-height: 1000000px;
    position: relative;
    width: 1280px;

}

.footer .horizontal-border {
    align-items: center;
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--wwwncloudcommine-shaft);
    display: flex;
    flex: 0 0 auto;
    gap: 639.53px;
    justify-content: space-around;
    max-height: 1000000px;
    padding: 30px 0px 21px;
    position: relative;
    width: 100%;
}

.footer .container {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    max-height: 1000000px;
    position: relative;
}

.footer .link-wrapper {
    display: flex;
    justify-content: center; /* 요소들을 가로로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 20px; /* 각 요소 사이의 간격 조정 (필요에 따라) */
}

.footer .link {
    display: block;
    flex: 0 0 auto;
    max-height: 1000000px;
    position: relative;
}

.footer .img-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-height: 1000000px;
    padding: 1.25px 12px 0.75px;
    position: relative;
}

.footer .div {
    align-items: flex-start;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-height: 1000000px;
    padding: 1.25px 0px 0.75px 12px;
    position: relative;
}

.footer .footer-container-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 1.14e-13px;
    max-height: 1000000px;
    position: relative;
    width: 1280px;
}

.footer .footer-wrapper {
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--wwwncloudcommine-shaft);
    height: 188px;
    max-height: 1000000px;
    position: relative;
    width: 100%;
}

.footer .footer-container-3 {
    align-items: flex-start;
    display: flex;
    height: 222px;
    left: -13px;
    max-height: 1000000px;
    position: relative;
    top: 32px;
    width: 1306px;
}

.footer .container-2 {
    align-self: stretch;
    flex: 1;
    flex-grow: 1;
    max-height: 1000000px;
    position: relative;
}

.footer .div-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 13px;
    max-height: 1000000px;
    position: absolute;
    top: 0;
    width: 408px;
}

.footer .text-wrapper {
    color: var(--wwwncloudcomwhite);
    font-family: var(--www-ncloud-com-roboto-semibold-15-88-font-family);
    font-size: var(--www-ncloud-com-roboto-semibold-15-88-font-size);
    font-style: var(--www-ncloud-com-roboto-semibold-15-88-font-style);
    font-weight: var(--www-ncloud-com-roboto-semibold-15-88-font-weight);
    letter-spacing: var(--www-ncloud-com-roboto-semibold-15-88-letter-spacing);
    line-height: var(--www-ncloud-com-roboto-semibold-15-88-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.footer .horizontal-border-2 {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 13px;
    max-height: 1000000px;
    padding: 0px 0px 1px;
    position: absolute;
    top: 32px;
    width: 408px;
}

.footer .link-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-grow: 1;
    max-height: 1000000px;
    padding: 0px 0px 0.97px;
    position: relative;
    width: 100%;
}

.footer .container-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-bottom: -1px;
    margin-top: -1px;
    max-height: 1000000px;
    padding: 0px 0px 0.97px;
    position: relative;
}

.footer .text-wrapper-2 {
    color: var(--wwwncloudcomsilver-chalice);
    font-family: var(--www-ncloud-com-roboto-regular-13-23-font-family);
    font-size: var(--www-ncloud-com-roboto-regular-13-23-font-size);
    font-style: var(--www-ncloud-com-roboto-regular-13-23-font-style);
    font-weight: var(--www-ncloud-com-roboto-regular-13-23-font-weight);
    letter-spacing: var(--www-ncloud-com-roboto-regular-13-23-letter-spacing);
    line-height: var(--www-ncloud-com-roboto-regular-13-23-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.footer .horizontal-border-3 {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 13px;
    max-height: 1000000px;
    padding: 0px 0px 1px;
    position: absolute;
    top: 65px;
    width: 408px;
}

.footer .horizontal-border-4 {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 13px;
    max-height: 1000000px;
    padding: 0px 0px 1px;
    position: absolute;
    top: 98px;
    width: 408px;
}

.footer .text {
    color: var(--wwwncloudcomsilver-chalice);
    font-family: var(--www-ncloud-com-roboto-regular-13-34-font-family);
    font-size: var(--www-ncloud-com-roboto-regular-13-34-font-size);
    font-style: var(--www-ncloud-com-roboto-regular-13-34-font-style);
    font-weight: var(--www-ncloud-com-roboto-regular-13-34-font-weight);
    letter-spacing: var(--www-ncloud-com-roboto-regular-13-34-letter-spacing);
    line-height: var(--www-ncloud-com-roboto-regular-13-34-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.footer .text-wrapper-3 {
    color: var(--wwwncloudcomwhite);
    font-family: var(--www-ncloud-com-roboto-semibold-15-font-family);
    font-size: var(--www-ncloud-com-roboto-semibold-15-font-size);
    font-style: var(--www-ncloud-com-roboto-semibold-15-font-style);
    font-weight: var(--www-ncloud-com-roboto-semibold-15-font-weight);
    letter-spacing: var(--www-ncloud-com-roboto-semibold-15-letter-spacing);
    line-height: var(--www-ncloud-com-roboto-semibold-15-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.footer .container-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-bottom: -1px;
    margin-top: -1px;
    max-height: 1000000px;
    padding: 0px 0px 0.97px;
    position: relative;
    z-index: 1;
}

.footer .margin {
    flex: 0 0 auto;
    margin-left: -4.26e-14px;
    max-height: 999999px;
    position: relative;
    z-index: 0;
}

.footer .text-wrapper-4 {
    color: var(--wwwncloudcomwhite);
    font-family: var(--www-ncloud-com-roboto-semibold-15-13-font-family);
    font-size: var(--www-ncloud-com-roboto-semibold-15-13-font-size);
    font-style: var(--www-ncloud-com-roboto-semibold-15-13-font-style);
    font-weight: var(--www-ncloud-com-roboto-semibold-15-13-font-weight);
    letter-spacing: var(--www-ncloud-com-roboto-semibold-15-13-letter-spacing);
    line-height: var(--www-ncloud-com-roboto-semibold-15-13-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.footer .text-wrapper-5 {
    color: var(--wwwncloudcomsilver-chalice);
    font-family: var(--www-ncloud-com-roboto-regular-13-13-font-family);
    font-size: var(--www-ncloud-com-roboto-regular-13-13-font-size);
    font-style: var(--www-ncloud-com-roboto-regular-13-13-font-style);
    font-weight: var(--www-ncloud-com-roboto-regular-13-13-font-weight);
    letter-spacing: var(--www-ncloud-com-roboto-regular-13-13-letter-spacing);
    line-height: var(--www-ncloud-com-roboto-regular-13-13-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.footer .horizontal-border-5 {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 13px;
    max-height: 1000000px;
    padding: 0px 0px 1px;
    position: absolute;
    top: 131px;
    width: 408px;
}

.footer .container-5 {
    flex: 0 0 auto;
    margin-bottom: -1px;
    margin-top: -1px;
    max-height: 1000000px;
    position: relative;
}

.footer .container-6 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-height: 1000000px;
    position: relative;
    width: 100%;
}

.footer .container-7 {
    height: 40px;
    left: 980px;
    position: absolute;
    top: 24px;
    width: 300px;
}

.footer .margin-wrapper {
    align-self: stretch;
    height: 150px;
    max-height: 1000000px;
    position: relative;
    width: 100%;
}

.footer .margin-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 74px;
    justify-content: center;
    max-height: 1000020px;
    padding: 20px 0px 0px;
    position: relative;
    top: 46px;
    width: 1280px;
}

.footer .naver-cloud-logo-svg {
    height: 23px;
    margin-top: -11.5px;
    position: relative;
    width: 138px;
}

.footer .text-wrapper-6 {
    color: var(--wwwncloudcomwhite);
    font-family: "Righteous-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 13px;
    left: 0;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 4px;
    white-space: nowrap;
    width: 44px;
}

.footer .container-8 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: 54px;
    margin-bottom: -11.5px;
    max-height: 1000000px;
    position: relative;
    width: 100%;
}

.footer .container-9 {
    align-self: stretch;
    height: 18px;
    max-height: 1000000px;
    position: relative;
    width: 100%;
}

.footer .container-10 {
    align-items: flex-start;
    display: inline-flex;
    left: 0;
    max-height: 1000000px;
    position: absolute;
    top: 0;
}

.footer .text-wrapper-7 {
    color: var(--wwwncloudcomdove-gray);
    font-family: var(--www-ncloud-com-roboto-regular-12-font-family);
    font-size: var(--www-ncloud-com-roboto-regular-12-font-size);
    font-style: var(--www-ncloud-com-roboto-regular-12-font-style);
    font-weight: var(--www-ncloud-com-roboto-regular-12-font-weight);
    letter-spacing: var(--www-ncloud-com-roboto-regular-12-letter-spacing);
    line-height: var(--www-ncloud-com-roboto-regular-12-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.footer .container-11 {
    align-items: flex-start;
    display: inline-flex;
    left: 179px;
    max-height: 1000000px;
    position: absolute;
    top: 0;
}

.footer .text-wrapper-8 {
    color: var(--wwwncloudcomdove-gray);
    font-family: var(--www-ncloud-com-roboto-regular-11-63-font-family);
    font-size: var(--www-ncloud-com-roboto-regular-11-63-font-size);
    font-style: var(--www-ncloud-com-roboto-regular-11-63-font-style);
    font-weight: var(--www-ncloud-com-roboto-regular-11-63-font-weight);
    letter-spacing: var(--www-ncloud-com-roboto-regular-11-63-letter-spacing);
    line-height: var(--www-ncloud-com-roboto-regular-11-63-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.footer .vertical-divider {
    border-color: var(--wwwncloudcomsilver-chalice);
    border-left-style: solid;
    border-left-width: 1px;
    height: 10px;
    left: 168px;
    opacity: 0.3;
    position: absolute;
    top: 4px;
    width: 1px;
}

.footer .container-12 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    max-height: 1000000px;
    position: relative;
}

.footer .p {
    color: var(--wwwncloudcomdove-gray);
    font-family: var(--www-ncloud-com-roboto-regular-11-25-font-family);
    font-size: var(--www-ncloud-com-roboto-regular-11-25-font-size);
    font-style: var(--www-ncloud-com-roboto-regular-11-25-font-style);
    font-weight: var(--www-ncloud-com-roboto-regular-11-25-font-weight);
    letter-spacing: var(--www-ncloud-com-roboto-regular-11-25-letter-spacing);
    line-height: var(--www-ncloud-com-roboto-regular-11-25-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.footer .text-wrapper-9 {
    align-self: stretch;
    color: var(--wwwncloudcomdove-gray);
    font-family: var(--www-ncloud-com-roboto-regular-12-font-family);
    font-size: var(--www-ncloud-com-roboto-regular-12-font-size);
    font-style: var(--www-ncloud-com-roboto-regular-12-font-style);
    font-weight: var(--www-ncloud-com-roboto-regular-12-font-weight);
    letter-spacing: var(--www-ncloud-com-roboto-regular-12-letter-spacing);
    line-height: var(--www-ncloud-com-roboto-regular-12-line-height);
    margin-top: -1px;
    position: relative;
}



/* /// */
:root {
 

    --toss-im-noto-sans-KR-bold-13-95-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-13-95-font-size: 13.9453125px;
    --toss-im-noto-sans-KR-bold-13-95-font-style: normal;
    --toss-im-noto-sans-KR-bold-13-95-font-weight: 700;
    --toss-im-noto-sans-KR-bold-13-95-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-13-95-line-height: 20px;
    --toss-im-noto-sans-KR-bold-14-06-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-14-06-font-size: 14.0625px;
    --toss-im-noto-sans-KR-bold-14-06-font-style: normal;
    --toss-im-noto-sans-KR-bold-14-06-font-weight: 700;
    --toss-im-noto-sans-KR-bold-14-06-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-14-06-line-height: 30px;
    --toss-im-noto-sans-KR-bold-14-18-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-14-18-font-size: 14.1796875px;
    --toss-im-noto-sans-KR-bold-14-18-font-style: normal;
    --toss-im-noto-sans-KR-bold-14-18-font-weight: 700;
    --toss-im-noto-sans-KR-bold-14-18-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-14-18-line-height: 30px;
    --toss-im-noto-sans-KR-bold-15-94-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-15-94-font-size: 15.9375px;
    --toss-im-noto-sans-KR-bold-15-94-font-style: normal;
    --toss-im-noto-sans-KR-bold-15-94-font-weight: 700;
    --toss-im-noto-sans-KR-bold-15-94-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-15-94-line-height: 18px;
    --toss-im-noto-sans-KR-bold-16-47-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-16-47-font-size: 16.46875px;
    --toss-im-noto-sans-KR-bold-16-47-font-style: normal;
    --toss-im-noto-sans-KR-bold-16-47-font-weight: 700;
    --toss-im-noto-sans-KR-bold-16-47-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-16-47-line-height: 18px;
    --toss-im-noto-sans-KR-bold-18-59-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-18-59-font-size: 18.59375px;
    --toss-im-noto-sans-KR-bold-18-59-font-style: normal;
    --toss-im-noto-sans-KR-bold-18-59-font-weight: 700;
    --toss-im-noto-sans-KR-bold-18-59-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-18-59-line-height: 32px;
    --toss-im-noto-sans-KR-bold-18-75-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-18-75-font-size: 18.75px;
    --toss-im-noto-sans-KR-bold-18-75-font-style: normal;
    --toss-im-noto-sans-KR-bold-18-75-font-weight: 700;
    --toss-im-noto-sans-KR-bold-18-75-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-18-75-line-height: 32px;
    --toss-im-noto-sans-KR-bold-18-91-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-18-91-font-size: 18.90625px;
    --toss-im-noto-sans-KR-bold-18-91-font-style: normal;
    --toss-im-noto-sans-KR-bold-18-91-font-weight: 700;
    --toss-im-noto-sans-KR-bold-18-91-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-18-91-line-height: 30px;
    --toss-im-noto-sans-KR-bold-20-45-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-20-45-font-size: 20.453125px;
    --toss-im-noto-sans-KR-bold-20-45-font-style: normal;
    --toss-im-noto-sans-KR-bold-20-45-font-weight: 700;
    --toss-im-noto-sans-KR-bold-20-45-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-20-45-line-height: 33px;
    --toss-im-noto-sans-KR-bold-20-63-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-20-63-font-size: 20.625px;
    --toss-im-noto-sans-KR-bold-20-63-font-style: normal;
    --toss-im-noto-sans-KR-bold-20-63-font-weight: 700;
    --toss-im-noto-sans-KR-bold-20-63-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-20-63-line-height: 33px;
    --toss-im-noto-sans-KR-bold-20-8-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-20-8-font-size: 20.796875px;
    --toss-im-noto-sans-KR-bold-20-8-font-style: normal;
    --toss-im-noto-sans-KR-bold-20-8-font-weight: 700;
    --toss-im-noto-sans-KR-bold-20-8-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-20-8-line-height: 33px;
    --toss-im-noto-sans-KR-bold-21-38-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-21-38-font-size: 21.3828125px;
    --toss-im-noto-sans-KR-bold-21-38-font-style: normal;
    --toss-im-noto-sans-KR-bold-21-38-font-weight: 700;
    --toss-im-noto-sans-KR-bold-21-38-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-21-38-line-height: 34.5px;
    --toss-im-noto-sans-KR-bold-21-56-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-21-56-font-size: 21.5625px;
    --toss-im-noto-sans-KR-bold-21-56-font-style: normal;
    --toss-im-noto-sans-KR-bold-21-56-font-weight: 700;
    --toss-im-noto-sans-KR-bold-21-56-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-21-56-line-height: 34.5px;
    --toss-im-noto-sans-KR-bold-26-14-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-26-14-font-size: 26.140625px;
    --toss-im-noto-sans-KR-bold-26-14-font-style: normal;
    --toss-im-noto-sans-KR-bold-26-14-font-weight: 700;
    --toss-im-noto-sans-KR-bold-26-14-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-26-14-line-height: 36.400001525878906px;
    --toss-im-noto-sans-KR-bold-26-25-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-26-25-font-size: 26.25px;
    --toss-im-noto-sans-KR-bold-26-25-font-style: normal;
    --toss-im-noto-sans-KR-bold-26-25-font-weight: 700;
    --toss-im-noto-sans-KR-bold-26-25-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-26-25-line-height: 42px;
    --toss-im-noto-sans-KR-bold-26-36-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-26-36-font-size: 26.359375px;
    --toss-im-noto-sans-KR-bold-26-36-font-style: normal;
    --toss-im-noto-sans-KR-bold-26-36-font-weight: 700;
    --toss-im-noto-sans-KR-bold-26-36-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-26-36-line-height: 36.400001525878906px;
    --toss-im-noto-sans-KR-bold-28-13-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-28-13-font-size: 28.125px;
    --toss-im-noto-sans-KR-bold-28-13-font-style: normal;
    --toss-im-noto-sans-KR-bold-28-13-font-weight: 700;
    --toss-im-noto-sans-KR-bold-28-13-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-28-13-line-height: 39px;
    --toss-im-noto-sans-KR-bold-28-24-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-28-24-font-size: 28.2421875px;
    --toss-im-noto-sans-KR-bold-28-24-font-style: normal;
    --toss-im-noto-sans-KR-bold-28-24-font-weight: 700;
    --toss-im-noto-sans-KR-bold-28-24-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-28-24-line-height: 39px;
    --toss-im-noto-sans-KR-bold-29-88-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-29-88-font-size: 29.875px;
    --toss-im-noto-sans-KR-bold-29-88-font-style: normal;
    --toss-im-noto-sans-KR-bold-29-88-font-weight: 700;
    --toss-im-noto-sans-KR-bold-29-88-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-29-88-line-height: 51.20000076293945px;
    --toss-im-noto-sans-KR-bold-37-34-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-37-34-font-size: 37.34375px;
    --toss-im-noto-sans-KR-bold-37-34-font-style: normal;
    --toss-im-noto-sans-KR-bold-37-34-font-weight: 700;
    --toss-im-noto-sans-KR-bold-37-34-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-37-34-line-height: 52px;
    --toss-im-noto-sans-KR-bold-37-5-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-37-5-font-size: 37.5px;
    --toss-im-noto-sans-KR-bold-37-5-font-style: normal;
    --toss-im-noto-sans-KR-bold-37-5-font-weight: 700;
    --toss-im-noto-sans-KR-bold-37-5-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-37-5-line-height: 52px;
    --toss-im-noto-sans-KR-bold-37-66-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-37-66-font-size: 37.65625px;
    --toss-im-noto-sans-KR-bold-37-66-font-style: normal;
    --toss-im-noto-sans-KR-bold-37-66-font-weight: 700;
    --toss-im-noto-sans-KR-bold-37-66-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-37-66-line-height: 52px;
    --toss-im-noto-sans-KR-bold-44-81-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-44-81-font-size: 44.8125px;
    --toss-im-noto-sans-KR-bold-44-81-font-style: normal;
    --toss-im-noto-sans-KR-bold-44-81-font-weight: 700;
    --toss-im-noto-sans-KR-bold-44-81-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-44-81-line-height: 72px;
    --toss-im-noto-sans-KR-bold-46-68-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-46-68-font-size: 46.6796875px;
    --toss-im-noto-sans-KR-bold-46-68-font-style: normal;
    --toss-im-noto-sans-KR-bold-46-68-font-weight: 700;
    --toss-im-noto-sans-KR-bold-46-68-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-46-68-line-height: 70px;
    --toss-im-noto-sans-KR-bold-46-88-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-46-88-font-size: 46.875px;
    --toss-im-noto-sans-KR-bold-46-88-font-style: normal;
    --toss-im-noto-sans-KR-bold-46-88-font-weight: 700;
    --toss-im-noto-sans-KR-bold-46-88-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-46-88-line-height: 70px;
    --toss-im-noto-sans-KR-bold-47-07-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-47-07-font-size: 47.0703125px;
    --toss-im-noto-sans-KR-bold-47-07-font-style: normal;
    --toss-im-noto-sans-KR-bold-47-07-font-weight: 700;
    --toss-im-noto-sans-KR-bold-47-07-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-47-07-line-height: 70px;
    --toss-im-noto-sans-KR-bold-56-25-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-56-25-font-size: 56.25px;
    --toss-im-noto-sans-KR-bold-56-25-font-style: normal;
    --toss-im-noto-sans-KR-bold-56-25-font-weight: 700;
    --toss-im-noto-sans-KR-bold-56-25-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-56-25-line-height: 84px;
    --toss-im-noto-sans-KR-bold-62-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-62-font-size: 62.00390625px;
    --toss-im-noto-sans-KR-bold-62-font-style: normal;
    --toss-im-noto-sans-KR-bold-62-font-weight: 700;
    --toss-im-noto-sans-KR-bold-62-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-62-line-height: 92.4000015258789px;
    --toss-im-noto-sans-KR-bold-93-75-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-bold-93-75-font-size: 93.75px;
    --toss-im-noto-sans-KR-bold-93-75-font-style: normal;
    --toss-im-noto-sans-KR-bold-93-75-font-weight: 700;
    --toss-im-noto-sans-KR-bold-93-75-letter-spacing: 0px;
    --toss-im-noto-sans-KR-bold-93-75-line-height: 130px;
    --toss-im-noto-sans-KR-demilight-12-19-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-demilight-12-19-font-size: 12.1875px;
    --toss-im-noto-sans-KR-demilight-12-19-font-style: normal;
    --toss-im-noto-sans-KR-demilight-12-19-font-weight: 300;
    --toss-im-noto-sans-KR-demilight-12-19-letter-spacing: 0px;
    --toss-im-noto-sans-KR-demilight-12-19-line-height: 18px;
    --toss-im-noto-sans-KR-demilight-12-39-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-demilight-12-39-font-size: 12.390625px;
    --toss-im-noto-sans-KR-demilight-12-39-font-style: normal;
    --toss-im-noto-sans-KR-demilight-12-39-font-weight: 300;
    --toss-im-noto-sans-KR-demilight-12-39-letter-spacing: 0px;
    --toss-im-noto-sans-KR-demilight-12-39-line-height: 20px;
    --toss-im-noto-sans-KR-demilight-12-59-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-demilight-12-59-font-size: 12.59375px;
    --toss-im-noto-sans-KR-demilight-12-59-font-style: normal;
    --toss-im-noto-sans-KR-demilight-12-59-font-weight: 300;
    --toss-im-noto-sans-KR-demilight-12-59-letter-spacing: 0px;
    --toss-im-noto-sans-KR-demilight-12-59-line-height: 20px;
    --toss-im-noto-sans-KR-demilight-14-06-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-demilight-14-06-font-size: 14.0625px;
    --toss-im-noto-sans-KR-demilight-14-06-font-style: normal;
    --toss-im-noto-sans-KR-demilight-14-06-font-weight: 300;
    --toss-im-noto-sans-KR-demilight-14-06-letter-spacing: 0px;
    --toss-im-noto-sans-KR-demilight-14-06-line-height: 30px;
    --toss-im-noto-sans-KR-demilight-14-18-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-demilight-14-18-font-size: 14.1796875px;
    --toss-im-noto-sans-KR-demilight-14-18-font-style: normal;
    --toss-im-noto-sans-KR-demilight-14-18-font-weight: 300;
    --toss-im-noto-sans-KR-demilight-14-18-letter-spacing: 0px;
    --toss-im-noto-sans-KR-demilight-14-18-line-height: 30px;
    --toss-im-noto-sans-KR-demilight-14-3-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-demilight-14-3-font-size: 14.296875px;
    --toss-im-noto-sans-KR-demilight-14-3-font-style: normal;
    --toss-im-noto-sans-KR-demilight-14-3-font-weight: 300;
    --toss-im-noto-sans-KR-demilight-14-3-letter-spacing: 0px;
    --toss-im-noto-sans-KR-demilight-14-3-line-height: 30px;
    --toss-im-noto-sans-KR-demilight-14-88-font-family: "Noto Sans KR", Helvetica;
    --toss-im-noto-sans-KR-demilight-14-88-font-size: 14.8828125px;
    --toss-im-noto-sans-KR-demilight-14-88-font-style: normal;
    --toss-im-noto-sans-KR-demilight-14-88-font-weight: 300;
    --toss-im-noto-sans-KR-demilight-14-88-letter-spacing: 0px;
    --toss-im-noto-sans-KR-demilight-14-88-line-height: 30px;
    --tossimamaranth: rgba(239, 68, 82, 1);
    --tossimanakiwa: rgba(144, 193, 255, 1);
    --tossimathens-gray: rgba(249, 250, 251, 1);
    --tossimazure-radiance: rgba(0, 127, 247, 1);
    --tossimblack: rgba(0, 0, 0, 1);
    --tossimblue-charcoal-80: rgba(0, 12, 30, 0.8);
    --tossimcadet-blue: rgba(176, 184, 193, 1);
    --tossimdodger-blue: rgba(48, 130, 246, 1);
    --tossimiron: rgba(209, 214, 219, 1);
    --tossimmalibu: rgba(116, 182, 255, 1);
    --tossimmirage: rgba(25, 31, 40, 1);
    --tossimoxford-blue: rgba(51, 61, 75, 1);
    --tossimpale-sky: rgba(107, 118, 132, 1);
    --tossimregent-gray: rgba(139, 149, 161, 1);
    --tossimtrout: rgba(78, 89, 104, 1);
    --tossimwhite: rgba(255, 255, 255, 1);
    --tumblbug-com-noto-sans-KR-bold-11-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-bold-11-font-size: 11px;
    --tumblbug-com-noto-sans-KR-bold-11-font-style: normal;
    --tumblbug-com-noto-sans-KR-bold-11-font-weight: 700;
    --tumblbug-com-noto-sans-KR-bold-11-letter-spacing: -0.5px;
    --tumblbug-com-noto-sans-KR-bold-11-line-height: 16px;
    --tumblbug-com-noto-sans-KR-bold-12-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-bold-12-font-size: 12px;
    --tumblbug-com-noto-sans-KR-bold-12-font-style: normal;
    --tumblbug-com-noto-sans-KR-bold-12-font-weight: 700;
    --tumblbug-com-noto-sans-KR-bold-12-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-bold-12-line-height: 20px;
    --tumblbug-com-noto-sans-KR-bold-13-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-bold-13-font-size: 13px;
    --tumblbug-com-noto-sans-KR-bold-13-font-style: normal;
    --tumblbug-com-noto-sans-KR-bold-13-font-weight: 700;
    --tumblbug-com-noto-sans-KR-bold-13-letter-spacing: -0.19499999284744263px;
    --tumblbug-com-noto-sans-KR-bold-13-line-height: 28px;
    --tumblbug-com-noto-sans-KR-bold-14-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-bold-14-font-size: 14px;
    --tumblbug-com-noto-sans-KR-bold-14-font-style: normal;
    --tumblbug-com-noto-sans-KR-bold-14-font-weight: 700;
    --tumblbug-com-noto-sans-KR-bold-14-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-bold-14-line-height: 22px;
    --tumblbug-com-noto-sans-KR-bold-15-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-bold-15-font-size: 15px;
    --tumblbug-com-noto-sans-KR-bold-15-font-style: normal;
    --tumblbug-com-noto-sans-KR-bold-15-font-weight: 700;
    --tumblbug-com-noto-sans-KR-bold-15-letter-spacing: 0.30000001192092896px;
    --tumblbug-com-noto-sans-KR-bold-15-line-height: 24px;
    --tumblbug-com-noto-sans-KR-bold-16-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-bold-16-font-size: 16px;
    --tumblbug-com-noto-sans-KR-bold-16-font-style: normal;
    --tumblbug-com-noto-sans-KR-bold-16-font-weight: 700;
    --tumblbug-com-noto-sans-KR-bold-16-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-bold-16-line-height: 24px;
    --tumblbug-com-noto-sans-KR-bold-20-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-bold-20-font-size: 20px;
    --tumblbug-com-noto-sans-KR-bold-20-font-style: normal;
    --tumblbug-com-noto-sans-KR-bold-20-font-weight: 700;
    --tumblbug-com-noto-sans-KR-bold-20-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-bold-20-line-height: 28px;
    --tumblbug-com-noto-sans-KR-bold-24-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-bold-24-font-size: 24px;
    --tumblbug-com-noto-sans-KR-bold-24-font-style: normal;
    --tumblbug-com-noto-sans-KR-bold-24-font-weight: 700;
    --tumblbug-com-noto-sans-KR-bold-24-letter-spacing: -0.5px;
    --tumblbug-com-noto-sans-KR-bold-24-line-height: 36px;
    --tumblbug-com-noto-sans-KR-bold-28-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-bold-28-font-size: 28px;
    --tumblbug-com-noto-sans-KR-bold-28-font-style: normal;
    --tumblbug-com-noto-sans-KR-bold-28-font-weight: 700;
    --tumblbug-com-noto-sans-KR-bold-28-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-bold-28-line-height: 36px;
    --tumblbug-com-noto-sans-KR-bold-8-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-bold-8-font-size: 8px;
    --tumblbug-com-noto-sans-KR-bold-8-font-style: normal;
    --tumblbug-com-noto-sans-KR-bold-8-font-weight: 700;
    --tumblbug-com-noto-sans-KR-bold-8-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-bold-8-line-height: 22px;
    --tumblbug-com-noto-sans-KR-demilight-11-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-demilight-11-font-size: 11px;
    --tumblbug-com-noto-sans-KR-demilight-11-font-style: normal;
    --tumblbug-com-noto-sans-KR-demilight-11-font-weight: 300;
    --tumblbug-com-noto-sans-KR-demilight-11-letter-spacing: -0.054999999701976776px;
    --tumblbug-com-noto-sans-KR-demilight-11-line-height: 16px;
    --tumblbug-com-noto-sans-KR-demilight-12-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-demilight-12-font-size: 12px;
    --tumblbug-com-noto-sans-KR-demilight-12-font-style: normal;
    --tumblbug-com-noto-sans-KR-demilight-12-font-weight: 300;
    --tumblbug-com-noto-sans-KR-demilight-12-letter-spacing: 0.23999999463558197px;
    --tumblbug-com-noto-sans-KR-demilight-12-line-height: normal;
    --tumblbug-com-noto-sans-KR-demilight-13-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-demilight-13-font-size: 13px;
    --tumblbug-com-noto-sans-KR-demilight-13-font-style: normal;
    --tumblbug-com-noto-sans-KR-demilight-13-font-weight: 300;
    --tumblbug-com-noto-sans-KR-demilight-13-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-demilight-13-line-height: 20px;
    --tumblbug-com-noto-sans-KR-demilight-14-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-demilight-14-font-size: 14px;
    --tumblbug-com-noto-sans-KR-demilight-14-font-style: normal;
    --tumblbug-com-noto-sans-KR-demilight-14-font-weight: 300;
    --tumblbug-com-noto-sans-KR-demilight-14-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-demilight-14-line-height: 24px;
    --tumblbug-com-noto-sans-KR-demilight-16-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-demilight-16-font-size: 16px;
    --tumblbug-com-noto-sans-KR-demilight-16-font-style: normal;
    --tumblbug-com-noto-sans-KR-demilight-16-font-weight: 300;
    --tumblbug-com-noto-sans-KR-demilight-16-letter-spacing: -0.3199999928474426px;
    --tumblbug-com-noto-sans-KR-demilight-16-line-height: 27px;
    --tumblbug-com-noto-sans-KR-medium-12-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-medium-12-font-size: 12px;
    --tumblbug-com-noto-sans-KR-medium-12-font-style: normal;
    --tumblbug-com-noto-sans-KR-medium-12-font-weight: 500;
    --tumblbug-com-noto-sans-KR-medium-12-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-medium-12-line-height: 20px;
    --tumblbug-com-noto-sans-KR-medium-13-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-medium-13-font-size: 13px;
    --tumblbug-com-noto-sans-KR-medium-13-font-style: normal;
    --tumblbug-com-noto-sans-KR-medium-13-font-weight: 500;
    --tumblbug-com-noto-sans-KR-medium-13-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-medium-13-line-height: 20px;
    --tumblbug-com-noto-sans-KR-medium-14-font-family: "Noto Sans KR", Helvetica;
    --tumblbug-com-noto-sans-KR-medium-14-font-size: 14px;
    --tumblbug-com-noto-sans-KR-medium-14-font-style: normal;
    --tumblbug-com-noto-sans-KR-medium-14-font-weight: 500;
    --tumblbug-com-noto-sans-KR-medium-14-letter-spacing: 0px;
    --tumblbug-com-noto-sans-KR-medium-14-line-height: 22px;
    --tumblbugcomalto: rgba(208, 208, 208, 1);
    --tumblbugcomblack: rgba(0, 0, 0, 1);
    --tumblbugcomblack-10: rgba(0, 0, 0, 0.1);
    --tumblbugcomblack-4: rgba(0, 0, 0, 0.04);
    --tumblbugcomblack-50: rgba(0, 0, 0, 0.5);
    --tumblbugcomblack-80: rgba(0, 0, 0, 0.8);
    --tumblbugcomboulder: rgba(117, 117, 117, 1);
    --tumblbugcomcarnation: rgba(240, 87, 87, 1);
    --tumblbugcomcod-gray: rgba(28, 28, 28, 1);
    --tumblbugcomconcrete: rgba(243, 243, 243, 1);
    --tumblbugcomdove-gray: rgba(109, 109, 109, 1);
    --tumblbugcomflamingo-90: rgba(240, 80, 62, 0.9);
    --tumblbugcomgallery: rgba(240, 240, 240, 1);
    --tumblbugcomlinen: rgba(254, 250, 250, 1);
    --tumblbugcommercury: rgba(228, 228, 228, 1);
    --tumblbugcommine-shaft: rgba(61, 61, 61, 1);
    --tumblbugcompersimmon: rgba(255, 90, 90, 1);
    --tumblbugcomsilver: rgba(189, 189, 189, 1);
    --tumblbugcomsilver-chalice: rgba(158, 158, 158, 1);
    --tumblbugcomwhite: rgba(255, 255, 255, 1);
    --tumblbugcomwhite-02: rgba(255, 255, 255, 0);
    --tumblbugcomwhite-70: rgba(255, 255, 255, 0.7);
    --tumblbugcomwhite-wild-sand: rgba(255, 255, 255, 1);
    --tumblbugcomwild-sand: rgba(246, 246, 246, 1);
    --www-ncloud-com-roboto-bold-14-06-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-14-06-font-size: 14.0625px;
    --www-ncloud-com-roboto-bold-14-06-font-style: normal;
    --www-ncloud-com-roboto-bold-14-06-font-weight: 700;
    --www-ncloud-com-roboto-bold-14-06-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-14-06-line-height: 22.049999237060547px;
    --www-ncloud-com-roboto-bold-15-13-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-15-13-font-size: 15.125px;
    --www-ncloud-com-roboto-bold-15-13-font-style: normal;
    --www-ncloud-com-roboto-bold-15-13-font-weight: 700;
    --www-ncloud-com-roboto-bold-15-13-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-15-13-line-height: 16px;
    --www-ncloud-com-roboto-bold-15-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-15-font-size: 15px;
    --www-ncloud-com-roboto-bold-15-font-style: normal;
    --www-ncloud-com-roboto-bold-15-font-weight: 700;
    --www-ncloud-com-roboto-bold-15-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-15-line-height: 16px;
    --www-ncloud-com-roboto-bold-18-75-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-18-75-font-size: 18.75px;
    --www-ncloud-com-roboto-bold-18-75-font-style: normal;
    --www-ncloud-com-roboto-bold-18-75-font-weight: 700;
    --www-ncloud-com-roboto-bold-18-75-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-18-75-line-height: 30px;
    --www-ncloud-com-roboto-bold-18-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-18-font-size: 18px;
    --www-ncloud-com-roboto-bold-18-font-style: normal;
    --www-ncloud-com-roboto-bold-18-font-weight: 700;
    --www-ncloud-com-roboto-bold-18-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-18-line-height: 25.920000076293945px;
    --www-ncloud-com-roboto-bold-20-63-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-20-63-font-size: 20.625px;
    --www-ncloud-com-roboto-bold-20-63-font-style: normal;
    --www-ncloud-com-roboto-bold-20-63-font-weight: 700;
    --www-ncloud-com-roboto-bold-20-63-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-20-63-line-height: 29.920000076293945px;
    --www-ncloud-com-roboto-bold-22-5-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-22-5-font-size: 22.5px;
    --www-ncloud-com-roboto-bold-22-5-font-style: normal;
    --www-ncloud-com-roboto-bold-22-5-font-weight: 700;
    --www-ncloud-com-roboto-bold-22-5-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-22-5-line-height: 36px;
    --www-ncloud-com-roboto-bold-22-88-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-22-88-font-size: 22.875px;
    --www-ncloud-com-roboto-bold-22-88-font-style: normal;
    --www-ncloud-com-roboto-bold-22-88-font-weight: 700;
    --www-ncloud-com-roboto-bold-22-88-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-22-88-line-height: 36px;
    --www-ncloud-com-roboto-bold-24-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-24-font-size: 24px;
    --www-ncloud-com-roboto-bold-24-font-style: normal;
    --www-ncloud-com-roboto-bold-24-font-weight: 700;
    --www-ncloud-com-roboto-bold-24-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-24-line-height: 36px;
    --www-ncloud-com-roboto-bold-26-25-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-26-25-font-size: 26.25px;
    --www-ncloud-com-roboto-bold-26-25-font-style: normal;
    --www-ncloud-com-roboto-bold-26-25-font-weight: 700;
    --www-ncloud-com-roboto-bold-26-25-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-26-25-line-height: 38.08000183105469px;
    --www-ncloud-com-roboto-bold-30-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-30-font-size: 30px;
    --www-ncloud-com-roboto-bold-30-font-style: normal;
    --www-ncloud-com-roboto-bold-30-font-weight: 700;
    --www-ncloud-com-roboto-bold-30-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-30-line-height: 44.15999984741211px;
    --www-ncloud-com-roboto-bold-32-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-bold-32-font-size: 32px;
    --www-ncloud-com-roboto-bold-32-font-style: normal;
    --www-ncloud-com-roboto-bold-32-font-weight: 700;
    --www-ncloud-com-roboto-bold-32-letter-spacing: 0px;
    --www-ncloud-com-roboto-bold-32-line-height: 41.91999816894531px;
    --www-ncloud-com-roboto-regular-11-25-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-regular-11-25-font-size: 11.25px;
    --www-ncloud-com-roboto-regular-11-25-font-style: normal;
    --www-ncloud-com-roboto-regular-11-25-font-weight: 400;
    --www-ncloud-com-roboto-regular-11-25-letter-spacing: 0px;
    --www-ncloud-com-roboto-regular-11-25-line-height: 18px;
    --www-ncloud-com-roboto-regular-11-63-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-regular-11-63-font-size: 11.625px;
    --www-ncloud-com-roboto-regular-11-63-font-style: normal;
    --www-ncloud-com-roboto-regular-11-63-font-weight: 400;
    --www-ncloud-com-roboto-regular-11-63-letter-spacing: 0px;
    --www-ncloud-com-roboto-regular-11-63-line-height: 18px;
    --www-ncloud-com-roboto-regular-12-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-regular-12-font-size: 12px;
    --www-ncloud-com-roboto-regular-12-font-style: normal;
    --www-ncloud-com-roboto-regular-12-font-weight: 400;
    --www-ncloud-com-roboto-regular-12-letter-spacing: 0px;
    --www-ncloud-com-roboto-regular-12-line-height: 18px;
    --www-ncloud-com-roboto-regular-13-13-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-regular-13-13-font-size: 13.125px;
    --www-ncloud-com-roboto-regular-13-13-font-style: normal;
    --www-ncloud-com-roboto-regular-13-13-font-weight: 400;
    --www-ncloud-com-roboto-regular-13-13-letter-spacing: 0px;
    --www-ncloud-com-roboto-regular-13-13-line-height: 23.940000534057617px;
    --www-ncloud-com-roboto-regular-13-23-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-regular-13-23-font-size: 13.234375px;
    --www-ncloud-com-roboto-regular-13-23-font-style: normal;
    --www-ncloud-com-roboto-regular-13-23-font-weight: 400;
    --www-ncloud-com-roboto-regular-13-23-letter-spacing: 0px;
    --www-ncloud-com-roboto-regular-13-23-line-height: 23.940000534057617px;
    --www-ncloud-com-roboto-regular-13-34-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-regular-13-34-font-size: 13.34375px;
    --www-ncloud-com-roboto-regular-13-34-font-style: normal;
    --www-ncloud-com-roboto-regular-13-34-font-weight: 400;
    --www-ncloud-com-roboto-regular-13-34-letter-spacing: 0px;
    --www-ncloud-com-roboto-regular-13-34-line-height: 23.940000534057617px;
    --www-ncloud-com-roboto-regular-15-5-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-regular-15-5-font-size: 15.5px;
    --www-ncloud-com-roboto-regular-15-5-font-style: normal;
    --www-ncloud-com-roboto-regular-15-5-font-weight: 400;
    --www-ncloud-com-roboto-regular-15-5-letter-spacing: 0px;
    --www-ncloud-com-roboto-regular-15-5-line-height: 14.079999923706055px;
    --www-ncloud-com-roboto-semibold-11-25-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-11-25-font-size: 11.25px;
    --www-ncloud-com-roboto-semibold-11-25-font-style: normal;
    --www-ncloud-com-roboto-semibold-11-25-font-weight: 600;
    --www-ncloud-com-roboto-semibold-11-25-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-11-25-line-height: 12px;
    --www-ncloud-com-roboto-semibold-12-19-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-12-19-font-size: 12.1875px;
    --www-ncloud-com-roboto-semibold-12-19-font-style: normal;
    --www-ncloud-com-roboto-semibold-12-19-font-weight: 600;
    --www-ncloud-com-roboto-semibold-12-19-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-12-19-line-height: 13px;
    --www-ncloud-com-roboto-semibold-12-29-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-12-29-font-size: 12.2890625px;
    --www-ncloud-com-roboto-semibold-12-29-font-style: normal;
    --www-ncloud-com-roboto-semibold-12-29-font-weight: 600;
    --www-ncloud-com-roboto-semibold-12-29-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-12-29-line-height: 14.039999961853027px;
    --www-ncloud-com-roboto-semibold-12-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-12-font-size: 12px;
    --www-ncloud-com-roboto-semibold-12-font-style: normal;
    --www-ncloud-com-roboto-semibold-12-font-weight: 600;
    --www-ncloud-com-roboto-semibold-12-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-12-line-height: 12px;
    --www-ncloud-com-roboto-semibold-13-13-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-13-13-font-size: 13.125px;
    --www-ncloud-com-roboto-semibold-13-13-font-style: normal;
    --www-ncloud-com-roboto-semibold-13-13-font-weight: 600;
    --www-ncloud-com-roboto-semibold-13-13-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-13-13-line-height: 21.979999542236328px;
    --www-ncloud-com-roboto-semibold-13-23-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-13-23-font-size: 13.234375px;
    --www-ncloud-com-roboto-semibold-13-23-font-style: normal;
    --www-ncloud-com-roboto-semibold-13-23-font-weight: 600;
    --www-ncloud-com-roboto-semibold-13-23-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-13-23-line-height: 21.979999542236328px;
    --www-ncloud-com-roboto-semibold-14-06-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-14-06-font-size: 14.0625px;
    --www-ncloud-com-roboto-semibold-14-06-font-style: normal;
    --www-ncloud-com-roboto-semibold-14-06-font-weight: 600;
    --www-ncloud-com-roboto-semibold-14-06-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-14-06-line-height: 13.949999809265137px;
    --www-ncloud-com-roboto-semibold-14-18-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-14-18-font-size: 14.1796875px;
    --www-ncloud-com-roboto-semibold-14-18-font-style: normal;
    --www-ncloud-com-roboto-semibold-14-18-font-weight: 600;
    --www-ncloud-com-roboto-semibold-14-18-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-14-18-line-height: 22.049999237060547px;
    --www-ncloud-com-roboto-semibold-14-3-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-14-3-font-size: 14.296875px;
    --www-ncloud-com-roboto-semibold-14-3-font-style: normal;
    --www-ncloud-com-roboto-semibold-14-3-font-weight: 600;
    --www-ncloud-com-roboto-semibold-14-3-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-14-3-line-height: 22.049999237060547px;
    --www-ncloud-com-roboto-semibold-14-41-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-14-41-font-size: 14.4140625px;
    --www-ncloud-com-roboto-semibold-14-41-font-style: normal;
    --www-ncloud-com-roboto-semibold-14-41-font-weight: 600;
    --www-ncloud-com-roboto-semibold-14-41-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-14-41-line-height: 22.049999237060547px;
    --www-ncloud-com-roboto-semibold-15-13-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-15-13-font-size: 15.125px;
    --www-ncloud-com-roboto-semibold-15-13-font-style: normal;
    --www-ncloud-com-roboto-semibold-15-13-font-weight: 600;
    --www-ncloud-com-roboto-semibold-15-13-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-15-13-line-height: 16px;
    --www-ncloud-com-roboto-semibold-15-75-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-15-75-font-size: 15.75px;
    --www-ncloud-com-roboto-semibold-15-75-font-style: normal;
    --www-ncloud-com-roboto-semibold-15-75-font-weight: 600;
    --www-ncloud-com-roboto-semibold-15-75-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-15-75-line-height: 24px;
    --www-ncloud-com-roboto-semibold-15-88-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-15-88-font-size: 15.875px;
    --www-ncloud-com-roboto-semibold-15-88-font-style: normal;
    --www-ncloud-com-roboto-semibold-15-88-font-weight: 600;
    --www-ncloud-com-roboto-semibold-15-88-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-15-88-line-height: 16px;
    --www-ncloud-com-roboto-semibold-15-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-15-font-size: 15px;
    --www-ncloud-com-roboto-semibold-15-font-style: normal;
    --www-ncloud-com-roboto-semibold-15-font-weight: 600;
    --www-ncloud-com-roboto-semibold-15-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-15-line-height: 16px;
    --www-ncloud-com-roboto-semibold-18-75-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-18-75-font-size: 18.75px;
    --www-ncloud-com-roboto-semibold-18-75-font-style: normal;
    --www-ncloud-com-roboto-semibold-18-75-font-weight: 600;
    --www-ncloud-com-roboto-semibold-18-75-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-18-75-line-height: 30px;
    --www-ncloud-com-roboto-semibold-60-font-family: "Roboto", Helvetica;
    --www-ncloud-com-roboto-semibold-60-font-size: 60px;
    --www-ncloud-com-roboto-semibold-60-font-style: normal;
    --www-ncloud-com-roboto-semibold-60-font-weight: 600;
    --www-ncloud-com-roboto-semibold-60-letter-spacing: 0px;
    --www-ncloud-com-roboto-semibold-60-line-height: 60px;
    --wwwncloudcomalto: rgba(217, 217, 217, 1);
    --wwwncloudcomazure-radiance: rgba(17, 124, 233, 1);
    --wwwncloudcombali-hai: rgba(136, 154, 173, 1);
    --wwwncloudcombiscay: rgba(28, 47, 94, 1);
    --wwwncloudcombittersweet: rgba(253, 100, 105, 1);
    --wwwncloudcomblack-25: rgba(0, 0, 0, 0.25);
    --wwwncloudcombright-turquoise: rgba(45, 224, 251, 1);
    --wwwncloudcomcaribbean-green: rgba(0, 191, 138, 1);
    --wwwncloudcomcoral-red: rgba(248, 57, 77, 1);
    --wwwncloudcomcornflower-blue: rgba(97, 173, 237, 1);
    --wwwncloudcomdanube: rgba(89, 150, 198, 1);
    --wwwncloudcomdenim: rgba(15, 109, 205, 1);
    --wwwncloudcomdove-gray: rgba(112, 112, 112, 1);
    --wwwncloudcomendeavour: rgba(0, 102, 170, 1);
    --wwwncloudcomgallery: rgba(237, 237, 237, 1);
    --wwwncloudcomlink-water: rgba(221, 236, 249, 1);
    --wwwncloudcommalachite: rgba(0, 210, 90, 1);
    --wwwncloudcommedium-purple: rgba(135, 74, 214, 1);
    --wwwncloudcommercury: rgba(233, 233, 233, 1);
    --wwwncloudcommine-shaft: rgba(48, 48, 48, 1);
    --wwwncloudcomnevada: rgba(98, 106, 115, 1);
    --wwwncloudcompicton-blue: rgba(79, 160, 235, 1);
    --wwwncloudcomporcelain: rgba(246, 247, 248, 1);
    --wwwncloudcomregal-blue: rgba(2, 58, 115, 1);
    --wwwncloudcomroyal-blue: rgba(47, 119, 226, 1);
    --wwwncloudcomsan-marino: rgba(71, 101, 179, 1);
    --wwwncloudcomselago: rgba(238, 245, 252, 1);
    --wwwncloudcomshamrock: rgba(67, 233, 123, 1);
    --wwwncloudcomsilver: rgba(197, 197, 197, 1);
    --wwwncloudcomsilver-chalice: rgba(166, 166, 166, 1);
    --wwwncloudcomst-tropaz: rgba(45, 81, 152, 1);
    --wwwncloudcomtan-hide: rgba(249, 133, 97, 1);
    --wwwncloudcomvivid-tangerine: rgba(255, 158, 133, 1);
    --wwwncloudcomwhite: rgba(255, 255, 255, 1);
  }
  