/* 프로젝트 리스트 컨테이너
.supported-projects-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
    width: 100%;
    margin-top: 30px;
    margin-left: 70px;
}

.projects-list {
    max-width: 1200px; /* 리스트가 차지하는 최대 너비를 더 넓게 설정 *
    width: 100%; /* 화면에 꽉 차도록 너비 조정 *
    display: flex;
    flex-direction: column;
    gap: 20px; /* 카드 사이의 간격 
    padding: 0 10px;
} */
