.customTextField {
    margin: 20px;
    width: 100%;
    max-width: 200px;
    background-color: #ffffff;
    border-radius: 80px;
  }
  
  .inputField {
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
  }
  
  .iconButton {
    padding: 8px;
  }
  
  .fileIcon {
    font-size: 24px;
  }
  
  .fileName {
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .fileName:hover {
    color: #4a62d1;
  }
  
  .fileIcon:hover {
    color: #4a62d1;
  }
  